<div class="sub-footer container-fluid">
    <div class="container">
        <div class="row">
            <p class="col-xs-6 col-sm-6 text-left">
                地址: {$web_config['web_address']}&nbsp;&nbsp;<a href="{$web_config['web_map']}" target="_blank">点击查看地图</a><br>邮编:{$web_config['zip_code']}&nbsp;&nbsp;固话:{$web_config['web_phone']} 传真:{$web_config['web_fax']}<br>
            </p>
            <p class="col-xs-6 col-sm-5 text-right">
                在家书院&nbsp;&nbsp;At Home Academy<br>{$web_config['web_copyright']}
            </p>
            <div class="col-sm-1 text-right hidden-xs">
                <img src="/Static/img/bottomlogo.gif" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</div>