    <footer>
        <div class="container">
            <div class="clearfix">
                <!----脚部上方导航条---->
                <div class="footer-top">
                    <div class="fl col-sm-2">
                        <h4 class="footer-list-title">了解书院</h4>
                        <p class="footer-list-item">梦想&使命</p>
                        <p class="footer-list-item">书院历程</p>
                        <p class="footer-list-item">书院校训</p>
                        <p class="footer-list-item">加入我们</p>
                    </div>
                    <div class="fl col-sm-2">
                        <h4 class="footer-list-title">走进书院</h4>
                        <p class="footer-list-item">日常教学</p>
                        <p class="footer-list-item">课外活动</p>
                        <p class="footer-list-item">书院规则</p>
                        <p class="footer-list-item">学业展示</p>
                        <p class="footer-list-item">AHA毕业生</p>
                        <p class="footer-list-item">日程安排xx</p>
                    </div>
                    <div class="fl col-sm-2">
                        <h4 class="footer-list-title">入读书院</h4>
                        <p class="footer-list-item">录取原则</p>
                        <p class="footer-list-item">录取程序</p>
                        <p class="footer-list-item">奖助学金</p>
                        <p class="footer-list-item">在线报名</p>
                        <p class="footer-list-item">联络书院</p>
                    </div>
                    <div class="fl col-sm-2">
                        <h4 class="footer-list-title">书院动态</h4>
                        <p class="footer-list-item">书院新闻</p>
                        <p class="footer-list-item">书院通告</p>
                        <p class="footer-list-item">书院相册</p>
                        <p class="footer-list-item">活动视频</p>
                        <p class="footer-list-item">家长视角</p>
                        <p class="footer-list-item">假期营会</p>
                        <p class="footer-list-item">教师培训</p>
                    </div>
                    <div class="fl col-sm-2">
                        <h4 class="footer-list-title">分享互动</h4>
                        <p class="footer-list-item">学生作品</p>
                        <p class="footer-list-item">教育随想</p>
                        <p class="footer-list-item">教育资讯</p>
                        <p class="footer-list-item">常用下载</p>
                        <p class="footer-list-item">Emial订阅</p>
                    </div>
                    <div class="fl col-sm-2">
                        <h4 class="footer-list-title">AHA旗下网站</h4>
                        <p class="footer-list-item">旗下网站介绍</p>
                        <p class="footer-list-item">学校管理系统</p>
                        <p class="footer-list-item">BJU出版社中国官网</p>
                        <p class="footer-list-item">远程网络学习体系</p>
                        <p class="footer-list-item">考试评测体系</p>
                        <p class="footer-list-item">BJU大学招生</p>
                    </div>
                </div>
                <!--脚部下方地址邮编-->
                <div class="footer-bottom">
                    <div class="fl left">
                        <span class="footer-span">地址: {$web_config['web_address']}<a href="{$web_config['web_map']}" target="_blank"> 点击查看地图 </a><br>
                            邮编:{$web_config['zip_code']}  固话:{$web_config['web_phone']} 传真:{$web_config['web_fax']}</span>
                    </div>
                    <div class="fl text-right pull-right"><span
                            class="footer-span pull-right">在家书院  At Home Academy.<br>{$web_config['web_copyright']}</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>